* {
    margin: 0px;
    padding: 0px;
}

body {
    background-size: cover;
    background-attachment: fixed;
    background-image:url(https://c.stocksy.com/a/hlb300/z9/860169.jpg?1574808029);
    /*background-color: #dd1923;
    background-image: linear-gradient(to right, black, linen );*/ 
    font-size: 18px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}

.content {
    margin-left: 20px;
    margin-right: 20px;
   
    
   
}

.mybio {
    opacity: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;    
    width: 30%;
    border: solid 7px orange;
    border-radius: 7px;
}

.myname {
    border: solid orange 7px;
    border-radius: 7px;
    opacity: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    width: 40%;

}

/* .portrait {
    float: left;
    width: 200px;

} */


.myImage {
    display: block;
    width: 300px;
    margin-right: 10px;
    border-radius: 140px;
    float: left;
}

.text {
    background-color: orange;
    padding: 10px;
    opacity: 70%;
    float: left;
    width: 60%;
    border-radius: 7px;
   
    
}

.contact {
    background-color: orange;
    opacity: 70%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    margin: 10px 0px 10px 0px;
    float: left;  
}

ul {
    list-style: none;
}

